mat-card {
  margin-bottom: 10px;
}

td:first-child {
  border-right: solid 3px #000000;
  padding-right: 20px;
  text-align: center;
}

td {
  vertical-align: middle;

  mat-icon {
    font-size: 100px;
  }

  mat-list-item {
    padding: 0px;
  }

  .bold {
    font-weight: 800;
  }
}
