<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1>
        Add a Contact
      </h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content [formGroup]="contact">
    <mat-form-field style="display: block;" appearance="outline">
      <mat-label>Guest's Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field style="display: block;" appearance="outline">
      <mat-label>Guest's Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field style="display: block;" appearance="outline">
      <mat-label>Guest's Favorite Color</mat-label>
      <input matInput formControlName="color">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary" style="display: block; width: 100%; margin-bottom: 10px;" (click)="submit()"
      [disabled]="contact.invalid">Add Contact</button>
  </mat-card-actions>
</mat-card>
<mat-card *ngFor="let record of records">
  <mat-card-header>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr>
        <td>
          <mat-icon inline="true">mood</mat-icon>
        </td>
        <td>
          <mat-list>
            <mat-list-item><span class="bold">Record Name:</span> {{ record['data']['name'] }}</mat-list-item>
            <mat-list-item><span class="bold">Record ID:</span> {{ record['id'] }}</mat-list-item>
            <mat-list-item><span class="bold">Email:</span> {{ record['data']['email'] }}</mat-list-item>
            <mat-list-item><span class="bold">Favorite Color:</span> {{ record['data']['color'] }}</mat-list-item>
          </mat-list>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
