<mat-card style="margin-bottom: 20px; margin-right: 20px;" class="mat-elevation-z0" *ngIf="owner === 'bot'">
  <table>
    <tr>
      <td>
        <mat-icon inline="true">android</mat-icon>
      </td>
      <td>
        <h4>{{ owner | uppercase }}</h4>
        {{ message }}
      </td>
    </tr>
  </table>

</mat-card>

<mat-card style="margin-bottom: 20px; margin-left: 20px; background: #92C7EF;" class="mat-elevation-z0"
  *ngIf="owner !== 'bot'">
  <table>
    <tr>
      <td>
        <mat-icon inline="true">face</mat-icon>
      </td>
      <td>
        <h4>{{ owner | uppercase }}</h4>
        {{ message }}
      </td>
    </tr>
  </table>
</mat-card>
